<div class="ispinner ispinner--white ispinner--animating">
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
</div>
