extends ../layout
block content
  .content.mar10t.accountPage
    form.tac.form.whiteBackground.max400.mobile-full(method='POST')
      h3.page-title Reset Password
      input(type='hidden', name='_csrf', value=_csrf)
      p Enter your email address below and we will send you password reset instructions.
      .inputWrapper
        input.input.form-control(type='email', name='email', id='email', autofocus, required)
        label.label.control-label(for='email') Email
      button.button.full(type='submit')
        i.fa.fa-key
        | Reset Password
