extends ../layout
block content
  .content.mar10t
    form.form-horizontal.tac.form.whiteBackground.max400.mobile-full(method='POST')
      h1.logo-font.mar20tb Storytime
      p Login to access your favorite stories
      input(type='hidden', name='_csrf', value=_csrf)
      a.button.block.facebook(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign in with Facebook
      table.divider
        tbody 
          tr
            td
              hr.d_hr
            td.d_textWrapper or
            td 
              hr.d_hr
      .inputWrapper
        input(type='email', name='email', id='email', autofocus, required, autocomplete="off", class="input")
        label(for='email', class='label') Email
      .inputWrapper
        input(type='password', name='password', id='password', required, class="input", autocomplete="off")
        label(for='password', class='label') Password
      button.button.full(type='submit')
        | Login  
      a(href='/forgot' target='_self' class='underline txt-blue') Reset Password
