extends ../layout
block content
  .content.mar10t.accountPage
    form.tac.form.whiteBackground.max400.mobile-full(method='POST')
      h3.page-title Reset Password
      input(type='hidden', name='_csrf', value=_csrf)
      .inputWrapper
        input.input(type='password', name='password', id='password', autofocus, required)
        label.label(for='password') New Password
      .inputWrapper
        input.input(type='password', name='confirm', id='confirm', required)
        label.label(for='confirm') Confirm Password
      button.button.full.btn-reset(type='submit')
        i.fa.fa-key
        | Change Password
