extends ../layout

block content
  .content.mar10t
    form.form-horizontal.tac.form.whiteBackground.max400.mobile-full(id='signup-form', method='POST')
      h1.logo-font.mar20tb Storytime
      p Signup to save your favorite stories
      input(type='hidden', name='_csrf', value=_csrf)
      a.button.block.facebook(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign in with Facebook
      table.divider
        tbody 
          tr
            td
              hr
            td.text.f16 or
            td 
              hr
      .inputWrapper
        input(type='email', name='email', id='email', autofocus, required, autocomplete="off")
        label(for='email') Email
      .inputWrapper
        input(type='password', name='password', id='password', required, autocomplete="off")
        label(for='password') Password
      .inputWrapper
        input(type='password', name='confirmPassword', id='confirmPassword', required, autocomplete="off")
        label(for='confirmPassword') Confirm Password
      button.button.block(type='submit')
        | Signup
