extends ../layout

block content
  .container
    form.form-horizontal.form.whiteBackground(id='signup-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      a.button.block.facebook(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign in with Facebook
      .inputWrapper
        input(type='email', name='email', id='email', autofocus, required, autocomplete="off")
        label(for='email') Email
      .inputWrapper
        input(type='password', name='password', id='password', required, autocomplete="off")
        label(for='password') Password
      .inputWrapper
        input(type='password', name='confirmPassword', id='confirmPassword', required, autocomplete="off")
        label(for='confirmPassword') Confirm Password
      .form-group
        .col-sm-offset-3.col-sm-7
          button.btn.btn-success(type='submit')
            i.fa.fa-user-plus
            | Signup
