//- script(src='//d1culzimi74ed4.cloudfront.net/js/feedback/feedback.js')
//- script.
//-   ChdFeedbackWidget.init({
//-   url: "//storytime.helprace.com/chd-widgets/feedback",
//-   assetsUrl: "//d1culzimi74ed4.cloudfront.net/",
//-   feedbackType: "link"
//-   });

<a href="/contact?feedback" target="_self" class="feedbackButton">Feedback</a>
