.flash-message
  if messages.errors
    .alert.alert-danger.fade.in
      .content
        for error in messages.errors
          div
            span= error.msg
            button.close(type='button', data-dismiss='alert')
              i.closeIcon
  if messages.info
    .alert.alert-info.fade.in
      .content
        for info in messages.info
          div
            span= info.msg
            button.close(type='button', data-dismiss='alert')
              i.closeIcon
  if messages.success
    .alert.alert-success.fade.in
      .content
        for success in messages.success
          div
            span= success.msg
            button.close(type='button', data-dismiss='alert')
              i.closeIcon
