.navigation
  .topNav.content
    .left
      span.menuIcon(onclick="navigation.toggleSideNav()") Menu
    a.logo(href='/' target='_self') Storytime
    .right
      div.searchIconWrapper
        i.searchIcon.txt-black(onclick="navigation.toggleSideNav()")
      if user
        a.profile-image(href='/account' target='_self')
          if user.profile.picture
              img.img(src='#{user.profile.picture || user.gravatar(60)}')
      else
        a(href='/login' target='_self') Login
