#sideNav
  div.sideNavWrapper
    i.closeIcon(onclick="navigation.toggleSideNav()")
    div.item.atypical
      if !user
        a(class='button outline small mar20r' href='/signup' target="_self") Signup 
        a(class='button outline blue small' href='/login' target="_self") Login
      else
        a.profile-image(href='/account' target='_self')
          if user.profile.picture
              img.img(src='#{user.profile.picture}')
            else
              i.img.fa.fa-user
            | #{user.profile.name || 'Settings'}
    span.searchWrapper.item.atypical
      input(href='/stories' ng-model='search' placeholder='Search...' class='searchInput txt-black' id='globalSearch')
      a.innerSearchIcon.txt-gray(ng-href='/stories?search={{search}}')
        i.fa.fa-search
    a.item(href='/landing') About
    a.item(href='/stories') Browse Stories
    a.item(href='/submit') Submit Your Story
    a.item(href='/contact', target="_self") Contact
    a.item(href='/contact?feedback', target="_self") Feedback
    if user
      a.item(href='/logout', target="_self") Logout
