/*------------------------------------*\

#INPUTS & STATES (single-line etc...)
Textarea in seperate file but uses the
"mimic-input" class defined here for
continuity

\*------------------------------------*/
$input-padding: 15px;

.inputWrapper {
  position: relative;
  border: 1px solid $lightGray;
  background-color: $white;
  width: 100%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  appearance: none; /* gets rid of weird inner shadow on input fields */
  // shared styles to keep them similiar
  .label, .input, .mimic-input {
    transition: all 0.15s ease-in-out;
    margin: 0;
    font-weight: 300;
    padding: 0 5px;
    // fights bootstrap
    font-size: 100%;
    line-height: normal;
  }

  .input, .mimic-input{
    height: 100%;
    min-height: $input-height;
    background-color: transparent;
    border: none;
    z-index: 1;
    width: 100%;
    outline: none;
    font-size: 16px;
    appearance: none;
    padding: 0 $input-padding;
  }
  .label {
    color: $gray;
    position: absolute;
    left: $input-padding;
    top: $input-label-content-distance;
  }


  .input:focus, .input.ng-not-empty, .mimic-input:focus, .mimic-input.ng-not-empty { /* when input is focused, or when has content (determined in $.placeholder.js ) */
    & + .label {
      background-color: $white;
      font-size: 12px;
      z-index: 0;
      top: -10px;
    }
  }

  &.inputButton{
    .inputButtonElement{
      background-color: $green;
      position: absolute;
      right: -1px;
      top: -1px;
      bottom: -1px;
      z-index: 2;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      display: flex;
      align-items: center;
      color: $white;
      padding: 0 10px;
    }
  }
}
