/*------------------------------------*\

#INPUTS & STATES (single-line etc...)

\*------------------------------------*/
.inputWrapper {
  position: relative;
  height: $input-height;
  border: 1px solid $lightGray;
  width: 100%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-bottom: 10px;
  appearance: none; /* gets rid of weird inner shadow on input fields */
  input{
    height: 100%;
    background-color: transparent;
    border: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 16px;
    appearance: none;
    padding: 0;
  }
  label{
    color: $gray;
  }

  label, input { /*keeps these lined up*/
    transition: all 0.15s ease-in-out;
    margin: 0;
    padding: 0 5px;
    font-weight: 300;
  }

  input:focus, input.ng-not-empty { /* when input is focused, or when has content (determined in $.placeholder.js ) */
    & + label {
      background-color: $white;
      transform: translateY(-22px);
      font-size: 12px;
      z-index: 0;
    }
  }
}
