.base-modal{
  background-color: white;
  padding: 40px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 300px;
  margin: 0 auto;
  z-index: $z-backdrop-active;
  text-align: center;
  .bm-close{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .bm-title { margin-bottom: 15px; }
  .bm-body { margin-bottom: 25px;}
}
