table.divider {
  // new style using tables that doesn't require background color
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
	float: none;

	.text {
		width: 1px;
		white-space: nowrap;
		font-weight: 300;
		color: $lightGray;
		font-size: 16px;
		position: relative;
		padding: 0 15px;
	}

  .title{ font-size: 22px; font-weight: 300; color: $darkGray}

	hr {
		border-top: 1px solid $lightGray;
	}

	&.left{
		td:first-of-type{ display: none; }
    .text{ padding-left: 0;}
	}
}
