extends layout
block scriptSection
  script(src='/node_modules/angular/angular.min.js')
  script(src='/node_modules/angular-route/angular-route.min.js')
  script(src='/js/angularApp.js')
  script(src='/js/services/storiesService.js')
  script(src='/js/services/userService.js')
  script(src='/js/filters/priceFilter.js')
  script(src='/js/directives/storyCard.js')
  script(src='/js/directives/input.js')
  script(src='/pages/feed/feedCtrl.js')
  script(src='/pages/story/storyCtrl.js')
  script(src='/pages/submit/storySubmitCtrl.js')
  
