extends layout
block scriptSection
  script(src='/node_modules/angular/angular.min.js')
  script(src='/node_modules/angular-route/angular-route.min.js')
  script(src='/node_modules/tinymce/tinymce.js')
  script(src='/node_modules/angular-ui-tinymce/dist/tinymce.min.js')
  script(src='/js/angularApp.js')
  script(src='/js/services/storiesService.js')
  script(src='/js/services/userService.js')
  script(src='/js/filters/priceFilter.js')
  script(src='/partials/divider/divider.js')
  script(src='/partials/storyCard/storyCard.js')
  script(src='/partials/input/input.js')
  script(src='/partials/textArea/textArea.js')
  script(src='/partials/tags/tags.js')
  script(src='/pages/feed/feedCtrl.js')
  script(src='/pages/story/storyCtrl.js')
  script(src='/pages/detail/detail.js')
  script(src='/pages/submit/storySubmitCtrl.js')
  
