extends layout
block scriptSection
  script(src='/node_modules/angular/angular.min.js')
  script(src='/node_modules/angular-route/angular-route.min.js')
  script(src='/node_modules/tinymce/tinymce.js')
  script(src='/node_modules/angular-ui-tinymce/dist/tinymce.min.js')
  script(src='/node_modules/moment/min/moment.min.js')
  script(src='/node_modules/theaterjs/dist/theater.min.js')
  script(src='/node_modules/braintree-web/dist/braintree.js')

  script(src='/js/angularApp.js')

  script(src='/js/services/utilityService.js')
  script(src='/js/services/inputService.js')
  script(src='/js/services/storiesService.js')
  script(src='/js/services/userService.js')
  script(src='/js/services/testingService.js')
  script(src='/js/services/paymentService.js')
  script(src='/js/services/analyticService.js')

  script(src='/js/filters/priceFilter.js')
  script(src='/js/filters/arrayFilter.js')

  script(src='/partials/story/story.js')
  script(src='/partials/divider/divider.js')
  script(src='/partials/storyCard/storyCard.js')
  script(src='/partials/inputMapper/inputMapper.js')
  script(src='/partials/textInput/textInput.js')
  script(src='/partials/toggleInput/toggleInput.js')
  script(src='/partials/button/button.js')
  script(src='/partials/textArea/textArea.js')
  script(src='/partials/tags/tags.js')
  script(src='/partials/list/list.js')
  script(src='/partials/spinner/spinner.js')
  script(src='/partials/feed/feed.js')

  script(src='/pages/landing/landing.js')
  script(src='/pages/storyPage/storyPage.js')
  script(src='/pages/detail/detail.js')
  script(src='/pages/success/successPage.js')
  script(src='/pages/storySubmit/storySubmit.js')
  script(src='/pages/purchaseCoin/purchaseCoin.js')
