extends layout

block content
  .content.accountPage
    form.form(method='POST')
      h3.page-title Contact
      input(type='hidden', name='_csrf', value=_csrf)
      .inputWrapper
        input(type='name', name='name', id='name', class='input')
        label(for='name', class='label') Name
      .inputWrapper
        input(type='email', name='email', id='email', class='input')
        label(for='email', class='label') Email
      .inputWrapper.textarea
        textarea(type='body', name='body', id='body', class='mimic-input textareaElement')
        label(for='email', class='label') Message
      button.button(type='submit')
        | Send
  script.
    var titleElm = document.getElementsByClassName('page-title')[0];
    if (window.location.search.indexOf('feedback') > -1){
      titleElm.innerText = 'How Can We Improve the Site?'
    } else {
      titleElm.innerText = 'Drop Us A Line'
    }
