<div class="detailPage">

  <div class="story-image">
    <img class="image" ng-src="{{story.photoUrl}}" />
  </div>

  <div class="right">
    <article class="content story-info">
      <h2 class="bold mar5b">{{story.title}}</h2>
      <div class="meta-info flex mar20b">
        <span class="coin badge">{{story.price | price }}</span>
        <span class="stopwatch badge">{{story.length}} mins</span>
      </div>
    </article>

    <article class="content story-bullets">
      <p class="mar20b"> {{story.shortDesc}} </p>
      <ul class="detail-bullets">
        <li class="p">Written by {{story.authorName}}</li>
        <li class="p">Ages {{story.ages}}</li>
        <li class="p">{{story.length}} Minutes</li>
        <li class="p">{{story.inputs ? 'Interactive Inputs' : ''}}</li>
        <li class="p">Created on {{story.createdOn}}</li>
      </ul>
    </article>

    <div class="button-wrapper content" ng-class="paymentState">
      <promise-button
        class="full purchase-button"
        ng-click="nextStep()"
      >
        <i class="fa fa-unlock-alt"></i>Unlock
      </promise-button>
    </div>

    <div class="content mar40b sales-pitch">
      <testimonial
      ng-if="story.salesPitch"
        imageurl="{{story.authorImageUrl}}"
        name="{{story.authorName}}"
        descriptor="Author"
      >
        <span class="italic">{{story.salesPitch}}</span>
      </testimonial>
    </div>

  </div>
  <div class="story-tags content mobileOnly">
    <h4 class="title mar10b">Search Tags</h4>
    <tags tags="story.tags" class="section-content"></tags>
  </div>

</div>
