.detailPage{
  background-color: white;
  padding: 15px 0 ;
  .purchase-button, .title, .price, .desc { margin-bottom: 10px;}
  .photo{
    max-width: 500px;
    width: 100%;
    margin: 0 auto 10px;
    display: block;
  }
  .price { color: $green;}
}
