.detailPage{
  background-color: white;
  padding: 15px 0 ;
  .title { margin-bottom: 10px;}
  .purchase-button, .price, .desc, .section-title { margin-bottom: 20px;}
  .section-content { margin-bottom: 40px;}
  .photo{
    max-width: 500px;
    width: 100%;
    margin: 0 auto 10px;
    display: block;
  }
  .price { color: $green;}
}
