.detailPage{
  $imageWidth: 350px;
  $bottomPadding: 100px; // makes room for button
  background-color: white;
  padding-bottom: $bottomPadding;
  margin: 0 auto;
  overflow: auto;
  max-width: $imageWidth;
  @media (min-width: $small-width){ padding-top: 10px;}
  @media (min-width: $medium-width){ max-width: $imageWidth *2.5; padding: 30px 30px $bottomPadding 30px;}
  .title { font-weight: 500;}
  .story-tags { overflow: auto; width: 100%; }
  .story-image {
    margin-bottom: 20px;
    .image{ width: 100%;}
    @media (min-width: $small-width){
      border-radius: 5px;
      overflow: hidden;
    }
  }
  .detail-bullets {
    margin-bottom: 20px;
    padding-left: 30px;
  }
  .button-wrapper {
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: $white;
    box-shadow: 0px 1px 18px 0px $lightGray;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 15px;
    transition-duration: 300ms;
    @media (min-width: $medium-width) {
      position: relative;
      box-shadow: none;
      width: auto;
      background-color: transparent;
      margin-bottom: 20px;
    }
  }

  @media (min-width: $medium-width){
    .story-image, .story-tags { float: left; width: $imageWidth; }
    .right {
      float: right;
      width: calc(100% - #{$imageWidth + 20});
      text-align: left;
      min-height: $imageWidth + 50; // makes it so the tags stay to the left
     }
  }
}
