.flash-message{
  .alert{
    margin: 0;
    border: none;
    text-align: center;
  }
  .closeIcon{
    width: 20px;
    height: 20px;
    position: absolute;
    padding-left: 10px;
    &:before, &:after {background: $black; }
  }
}
