.form{
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  &.whiteBackground{ background-color: $white; }
  h1.form-title{ margin-bottom: 10px; }
  .inputWrapper, .button, .divider, .formGroup { margin: 20px 0; }
  .input-group{
    display: block;
    border-bottom: 1px dashed $lightGray;
    &.last{ border-bottom: none; }
  }
  .form-error{ color: $red; }

  @media screen and (min-width: $small-width){
    padding: 20px;
    &.whiteBackground{
      padding: 40px;
      border: 1px solid $lightGray;
      border-radius: 5px;
      margin: 30px auto 0;
    }
    .input-group{
      display: flex;
      justify-content: space-between;
      .inputWrapper:first-of-type{ margin-right: 10px;}
    }
  }
}
