.storyCard{
  display: flex;
  align-items: center;
  background-color: $white;
  margin-bottom: 10px;
  color: $gray;
  position: relative;
  min-height: $story-card-height;
  box-shadow: 1px 1px 1px -1px $gray;
  max-width: 400px;
  &:hover{
    text-decoration: none;
    color: $gray;
  }
  .image {
    display: inline;
    float: left;
    height: $story-card-height;
    width: $story-card-height;
    min-width: $story-card-height;
  }
  .details {
    margin: 10px 10px 10px 20px;
    width: 100%;
  }
  .title{
    font-size: 14px;
    line-height: 18px;
    color: $darkGray;
    margin-bottom: 0;
    width: calc(100% - 5px)
  }
  .price{
    position: absolute;
    top: 10px;
    right: 10px;
    color: $green;
  }
  .desc{
    font-size: 12px;
    line-height: 15px;
    -webkit-line-clamp: 2;
    margin: 0;
  }
  .tags{
    border: 1px solid $lightGray;
  }
}
