html, .pageWrapperNormalize {
  position: relative;
  min-height: 100%;
  height: 100%;
  z-index: $z-base;
}

.backdrop{
  background-color: inherit;
  z-index: $z-backdrop-inactive;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  padding-top: $navbar-height;
  background-color: $white;
  min-height: 100%;
  height: 100%;
  &.lock{
    overflow: hidden;
    .backdrop{
      transition: background-color 200ms ease;
      background-color: $lightGray;
      z-index: $z-backdrop-active;
      opacity: .5;
    }
  }
}

.content{
  $space-from-side: 10px;
  max-width: $largest-width;
  margin-right: auto;
  margin-left: auto;
  padding-left: $space-from-side;
  padding-right: $space-from-side;
  position: relative;
  @media (min-width: $medium-width){ padding-left: $space-from-side*2; padding-right: $space-from-side*2; }
  &.mobileFull{
    padding-left: 0;
    padding-right: 0;
    @media (min-width: $small-width){ padding-left: $space-from-side; padding-right: $space-from-side; }
  }
}

a{
  color: inherit;
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
  }
}



// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
