.coinIcon {
  height: 14px;
  width: 14px;
  background: url(/images/svg/coin.svg);
}

.stopWatchIcon {
  height: 14px;
  width: 14px;
  background: url(/images/svg/stopwatch.svg);
}

.menuIcon {
  height: 12px;
  padding-left: 15px;
  position: relative;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 1px;
    background: black;
    box-shadow:
    0 5px 0 0 black,
    0 10px 0 0 black;
  }
}

.closeIcon{
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $gray;
  }
  &.white{ background: $white; }
  &.gray{ background: $gray;}
  &::before { transform: rotate(45deg); }
  &::after { transform: rotate(-45deg); }
}

.chevron::before {
	border-style: solid;
	border-width: 1px 1px 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.down:before {
	top: 0;
  left: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

.searchIcon{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 4px 4px 8px 8px;
  border: 2px solid;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #ddd;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
  &:before{
    content: '';
    pointer-events: none;
    width: 4px;
    height: 11px;
    box-shadow: inset 0 0 0 32px;
    top: 19px;
    border-radius: 0 0 1px 1px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &:after{
    content: '';
    pointer-events: none;
  }
}

.checkmark{
  $checkmark-size: 12px;
  display:inline-block;
  width: $checkmark-size;
  height: $checkmark-size;
  position: relative;

  &:before{
    /*Add another block-level blank space*/
    content: '';
    display: block;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: $checkmark-size / 2;
    height: $checkmark-size;

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid $black;
    border-width: 0 1px 1px 0;
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
  &.circle{
    width: $checkmark-size * 3;
    height: $checkmark-size * 3;
    &:before{
      position: absolute;
      top: 30%;
      left: 44%;
    }
    &:after{
      content: '';
      position: absolute;
      height: $checkmark-size * 3;
      width: $checkmark-size * 3;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: 1px solid $black;
    }
  }

  &.big{
    width: $checkmark-size / 2 * 3;
    height: $checkmark-size * 3;
    border-width: 0 2px 2px 0;
    &:before {
      width: $checkmark-size / 2 * 3;
      height: $checkmark-size * 3;
      border-width: 0 2px 2px 0;
    }
    &.circle, &:after{
      height: $checkmark-size * 3 * 3;
      width: $checkmark-size * 3 * 3;
    }
  }
  &.green:before, &.green:after{ border-color: $green; }
  &.white:before, &.white:after{ border-color: $white; }
}
