.block{ display: block !important;}
.w100{ width: 100%;}
.tar { text-align: right !important;}
.tac { text-align: center !important;}
.tal { text-align: left !important;}
.underline { text-decoration: underline !important; }
.uppercase { text-transform: uppercase  !important; }
.bold { font-weight: bold; }
.break-word {word-wrap: break-word;}

.relative{position: relative;}

.logo-font { font-family: $logo-font; }
.no-border {
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}

.flex { display: flex; }
.fac { display: flex; align-items: center; }
.fjc { display: flex; justify-content: center; }
.fjac { display: flex; justify-content: center; align-items: center; }

.txt-gray { color: $gray !important;}
.txt-black { color: $black !important;}
.txt-white { color: $white !important;}
.txt-lightGray { color: $lightGray !important;}
.txt-darkGray { color: $darkGray !important;}
.txt-blue { color: $blue !important;}

.bgBlue { background-color: $blue;}

.pad0		{ padding: 0 !important; }
.pad0b		{ padding-bottom: 0 !important; }
.pad0l		{ padding-left: 0 !important; }
.pad0r		{ padding-right: 0 !important; }
.pad10 		{ padding: 10px !important; }
.pad10tb 	{ padding-top: 10px !important; padding-bottom: 10px !important; }
.pad10t 	{ padding-top: 10px !important; }
.pad10b 	{ padding-bottom: 10px !important; }
.pad10lr 	{ padding-left: 10px !important; padding-right: 10px !important; }
.pad10l 	{ padding-left: 10px !important; }
.pad10r 	{ padding-right: 10px !important; }
.pad15 		{ padding: 15px !important; }
.pad15tb 	{ padding-top: 15px !important; padding-bottom: 15px !important; }
.pad15t 	{ padding-top: 15px !important; }
.pad15b 	{ padding-bottom: 15px !important; }
.pad15lr 	{ padding-left: 15px !important; padding-right: 15px !important; }
.pad15l 	{ padding-left: 15px !important; }
.pad15r 	{ padding-right: 15px !important; }
.pad20 		{ padding: 20px !important; }
.pad20tb 	{ padding-top: 20px !important; padding-bottom: 20px !important; }
.pad20t 	{ padding-top: 20px !important; }
.pad20b 	{ padding-bottom: 20px !important; }
.pad20lr 	{ padding-left: 20px !important; padding-right: 20px !important; }
.pad20l 	{ padding-left: 20px !important; }
.pad20r 	{ padding-right: 20px !important; }
.pad30 		{ padding: 30px !important; }
.pad30tb 	{ padding-top: 30px !important; padding-bottom: 30px !important; }
.pad30t 	{ padding-top: 30px !important; }
.pad30b 	{ padding-bottom: 30px !important; }
.pad30lr 	{ padding-left: 30px !important; padding-right: 30px !important; }
.pad30l 	{ padding-left: 30px !important; }
.pad30r 	{ padding-right: 30px !important; }
.pad40 		{ padding: 40px !important; }
.pad40tb 	{ padding-top: 40px !important; padding-bottom: 40px !important; }
.pad40t 	{ padding-top: 40px !important; }
.pad40b 	{ padding-bottom: 40px !important; }
.pad40lr 	{ padding-left: 40px !important; padding-right: 40px !important; }
.pad40l 	{ padding-left: 40px !important; }
.pad40r 	{ padding-right: 40px !important; }
.pad60t 	{ padding-top: 60px !important; }

.mar0a		{ margin: 0 auto !important; }
.mara		  { margin-left: auto !important; margin-right: auto !important;}
.mar0		  { margin: 0 !important; }
.mar0l		{ margin-left: 0 !important; }
.mar0r		{ margin-right: 0 !important; }
.mar0b		{ margin-bottom: 0 !important; }
.mar0lr		{ margin-left: 0 !important; margin-right: 0 !important; }
.mar0tb		{ margin-top: 0 !important; margin-bottom: 0 !important; }
.mar0t		{ margin-top: 0 !important; }
.mar5		  { margin: 5px !important; }
.mar5l		{ margin-left: 5px !important; }
.mar5r		{ margin-right: 5px !important; }
.mar5b		{ margin-bottom: 5px !important; }
.mar5lr		{ margin-left: 5px !important; margin-right: 5px !important; }
.mar5tb		{ margin-top: 5px !important; margin-bottom: 5px !important; }
.mar5t		{ margin-top: 5px !important; }
.mar10 		{ margin: 10px !important; }
.mar10tb 	{ margin-top: 10px !important; margin-bottom: 10px !important; }
.mar10t		{ margin-top: 10px !important; }
.mar10b 	{ margin-bottom: 10px !important; }
.mar10lr 	{ margin-left: 10px !important; margin-right: 10px !important; }
.mar10l 	{ margin-left: 10px !important; }
.mar10r 	{ margin-right: 10px !important; }
.mar20 		{ margin: 20px !important; }
.mar20tb 	{ margin-top: 20px !important; margin-bottom: 20px !important; }
.mar20t 	{ margin-top: 20px !important; }
.mar20b 	{ margin-bottom: 20px !important; }
.mar20lr 	{ margin-left: 20px !important; margin-right: 20px !important; }
.mar20l 	{ margin-left: 20px !important; }
.mar20r 	{ margin-right: 20px !important; }
.mar30 		{ margin: 30px !important; }
.mar30tb 	{ margin-top: 30px !important; margin-bottom: 30px !important; }
.mar30t 	{ margin-top: 30px !important; }
.mar30b 	{ margin-bottom: 30px !important; }
.mar30lr 	{ margin-left: 30px !important; margin-right: 30px !important; }
.mar30l 	{ margin-left: 30px !important; }
.mar30r 	{ margin-right: 30px !important; }
.mar40b		{ margin-bottom: 40px !important; }
.mar40tb	{ margin-bottom: 40px !important; margin-top: 40px !important; }
.mar50t		{ margin-top: 50px !important; }
.mar50b		{ margin-bottom: 50px !important; }

.max300 { max-width: 300px !important; }
.max400 { max-width: 400px !important; }
.max500 { max-width: 500px !important; }
.max600 { max-width: 600px !important; }

.f12 { font-size: 12px !important; }
.f14 { font-size: 14px !important; }
.f16 { font-size: 16px !important; }
.f18 { font-size: 18px !important; }

.o5 { opacity: .5; }

.fw100 { font-weight: 100;}
.fw200 { font-weight: 200;}
.fw300 { font-weight: 300;}
.fw400 { font-weight: 400;}
.fw500 { font-weight: 500;}
.fw600 { font-weight: 600;}


.h100 { height: 100px;}
.h200 { height: 200px;}
.h300 { height: 300px;}
.h400 { height: 400px;}

.max100 { max-width: 100px;}
.max200 { max-width: 200px;}
.max300 { max-width: 300px;}
.max400 { max-width: 400px;}

.percent10 { width: 10%; }
.percent20 { width: 20%; }
.percent30 { width: 30%; }
.percent40 { width: 40%; }
.percent50 { width: 50%; }
.percent60 { width: 60%; }
.percent70 { width: 70%; }
.percent80 { width: 80%; }
.percent90 { width: 90%; }
.percent100 { width: 100%; }


.italic{ font-style: italic !important;}
.ellipsis{
  // needs a set width
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &.multiLine{
    // how many lines determined with
    // -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-break: break-word;
  }
}
