$white: #fff;
$black: #000;
$lightestGray: #e5e5e5;
$lighterGray: #eee;
$lightGray: #ccc;
$gray: #999;
$darkGray: #333;
$green: #00B145;
$darkGreen: #038e39;
$blue: #3b5998;
$lightBlue: #7da3f3;
$darkBlue: #45618D;
$facebookBlue: #3b5998;
$mint: green;
$red: #f16464;
$darkPurple: #17153B;

$story-card-height: 75px;
$input-height: 45px;
$input-label-content-distance: 13px;
$navbar-height: 50px;
$sidenav-width: 300px;

$small-width: 600px;
$medium-width: 768px;
$large-width: 1000px;
$largest-width: 1340px;

$z-backdrop-inactive: -1;
$z-header: 1;
$z-backdrop-active: 1;
$z-sidenav: 2;

$logo-font: 'HennyPenny';
$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
