$white: #fff;
$lighterGray: #eee;
$lightGray: #ccc;
$gray: #999;
$darkGray: #333;
$green: #00B145;
$darkGreen: #038e39;
$mint: green;

$storyCardHeight: 75px;
$input-height: 45px;
$input-label-content-distance: 13px;
$navbar-height: 50px;

$small-width: 600px;
