<div class='submit-page'>
  <div class='container'>
    <h1 class="pad20b">Submit A Story</h1>
    <form class="form">
      <text-input label='Story Title' ng-model='story.title'></text-input>
      <text-input label='Photo URL' ng-model='story.photoUrl'></text-input>
      <text-input label='Price' ng-model='story.price'></text-input>
      <text-input label='Search Tags' ng-model='story.tags'></text-input>
      <text-divider text='Content' align='left'></text-divider>
      <text-area label='Short Description - 160 characters' ng-model='story.shortDesc' resize='none' max-length='160'></text-area>
      <text-area label='Long Description' ng-model='story.longDesc'></text-area>
      <text-area label='Story Text' ng-model='story.html'></text-area>
      <div class="button mar20b" ng-click='addSearchTag()'> + Interactive Input</div>
      <button ng-click="submitStory(story)" class="button"> submit </button>
    </form>
  </div>
</div>
