<div class='submit-page'>
  <div class='container'>
    <h1 class="pad20b">Submit A Story</h1>
    <form class="story-form">
      <text-input label='Story Title' ng-model='story.title'></text-input>
      <text-area label='Short Description - 160 characters' ng-model='story.shortDesc' resize='none' max-length='160'></text-area>
      <text-area label='Long Description' ng-model='story.longDesc'></text-area>
      <text-input label='Photo URL' ng-model='story.photoUrl'></text-input>
      <text-input label='Price' ng-model='story.price'></text-input>
      <text-input label='Search Tags' ng-model='story.tags'></text-input>
      <text-input label='Inputs' ng-model='story.inputs'></text-input>
      <text-input label='Text' ng-model='story.html'></text-input>
    </form>
    <button ng-click="submitStory(story)"> submit </button>
  </div>
</div>
