.navigation{
  height: $navbar-height;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 -5px 13px 0 $darkGray;
  z-index: $z-header;
  max-width: 100%;
  background-color: $white;

  .topNav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right{
      display: flex;
      align-items: center;
    }
    .searchIconWrapper{
      transform: scale(.6);
    }
    .searchIcon { cursor: pointer;}
    .profile-image{
      cursor: pointer;
      .img{
        width: 25px;
        height: 25px;
        background-color: $lightGray;
        border-radius: 50%;
        margin-left: 5px;
      }
    }

    .logo{
      color: $darkPurple;
      font-family: $logo-font;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      font-size: 22px;
      margin: 0 auto;
      width: 150px;
      text-align: center;
      text-decoration: none;
      &:hover{text-decoration: none;}
    }
  }
}
