.navigation{
  height: $navbar-height;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 -3px 13px 0 $darkGray;
  z-index: $z-header;
  max-width: 100%;
  background-color: $white;

  .topNav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchIcon { cursor: pointer; }

    .logo{
      color: $darkPurple;
      font-family: $logo-font;
      position: absolute;
      left: 0;
      right: 0;
      font-size: 22px;
      margin: 0 auto;
      width: 150px;
      text-align: center;
      text-decoration: none;
      &:hover{text-decoration: none;}
    }
  }

  #sideNav{
    position: fixed;
    width: $sidenav-width;
    left: -$sidenav-width;
    transition: left 200ms cubic-bezier(.53,.02,.64,.99);
    background-color: $darkGray;
    top: 0;
    bottom: 0;
    .sideNavWrapper{
      padding: 50px 20px;
      position: relative;
      overflow: auto;
      height: 100%;
      width: 100%;
    }

    .closeIcon{
      position: absolute;
      top: 15px;
      right: 15px;
      color: $white;
    }

    .item{
      color: white;
      display: block;
      margin-bottom: 20px;
    }

    &.open{
      left: 0;
    }
  }
}
