<div class='submit-page ng-cloak'>
  <div ng-if="pageErrorMessage" class='tac content mar20t'>
    <h3>Error</h3>
    <p class='pad10'>{{pageErrorMessage}}</p>
  </div>
  <div ng-if="!pageErrorMessage" class='content'>
    <form class="form">
      <div class="mar40b">
        <h1 class="form-title">{{(story._id && !exampleStory) ? 'Edit Story' : 'Submit A Story'}}</h1>
        <p ng-if="!exampleStory"> To see an example story submital form, <a href='/submit/example' class='underline txt-blue'>click here</a> </p>
      </div>
      <text-input label='Story Title' ng-model='story.title'></text-input>
      <text-input label='Photo URL - square dimmensions' ng-model='story.photoUrl'></text-input>
      <!-- <text-input label='Price' type='number' ng-model='story.price'></text-input> -->
      <text-input label='Recomended Ages - ex. 4+' ng-model='story.ages'></text-input>
      <text-input label='Length - in minutes' type='number' ng-model='story.length'></text-input>
      <text-input label='Search Tags - comma seperated' ng-model='story.tags'></text-input>
      <text-area label='Short Description' ng-model='story.shortDesc' resize='none' max-length='160'></text-area>
      <!-- <text-area label='Long Description' ng-model='story.longDesc'></text-area> -->
      <divider title='Interactive Inputs' align='left' class='mar40tb'></divider>
      <small class='block formGroup mar0'> Interactive inputs allow the reader to insert their name,
        favorite character, gender, or other applicable item into a story.  <br><br>

        <strong>Text Input</strong>: The "keyword" is a single word (no special characters) used in the story text with curly
        brackets around it as such <span class="fw500">{keyword}</span>.  The "description" will appear inside the input as a
        placeholder and helper for a user. <br><br>

        <strong>Toggle Button</strong>: This option is typically used for gender, but can also be used for alternative endings.
        The keyword is a single word (no special characters) used in a story followed by the
        two options, seperated by commas as such: <span class='fw500'>[k:gender, 1:his, 2:her]</span>.<br><br>

        <span ng-if="!exampleStory">To see an example of how these can be utilized <a href='/submit/example' class='underline txt-blue'>click here</a></span>
      </small>
      <div class="btn-group formGroup" ng-if="!exampleStory">
        <button type="button" ng-click='add("text")' class="button mar10b mar0t"> Add Text Input </button>
        <button type="button" name="button" class="button lightBlue mar0" ng-click='add("toggle")'>Add Toggle Input</button>
      </div>
      <div ng-repeat="input in story.inputs | toArray | orderBy: 'index'" class='input-group'
           ng-class="{'last': $last, 'half': input.type === 'text', 'thirds': input.type === 'toggle'}">
          <text-input label='Keyword' ng-model='input.keyword' ng-if="input.type === 'text'"></text-input>
          <text-input label='Description' ng-model='input.title' ng-if="input.type === 'text'"></text-input>
          <toggle-input ng-model='input' input="input" ng-if="input.type === 'toggle'" edit-mode="true"></toggle-input>
      </div>
      <textarea class='h300' ui-tinymce="tinymceOptions" ng-model="story.html"></textarea>
      <button ng-click="submitStory(story)" class="button" ng-if="!exampleStory"> submit </button>
      <div class='form-error'>{{globalErrorMessage}}</div>
    </form>
  </div>
</div>
