<div class='submit-page ng-cloak'>
  <div ng-if="pageErrorMessage" class='tac content mar20t'>
    <h3>Error</h3>
    <p class='pad10'>{{pageErrorMessage}}</p>
  </div>
  <div ng-if="!pageErrorMessage" class='content'>
    <form class="form">
      <h1 class="form-title">{{story._id ? 'Edit Story' : 'Submit A Story'}}</h1>
      <text-input label='Story Title' ng-model='story.title'></text-input>
      <text-input label='Photo URL' ng-model='story.photoUrl'></text-input>
      <!-- <text-input label='Price' type='number' ng-model='story.price'></text-input> -->
      <text-input label='Recomended Ages - ex. 4+' ng-model='story.ages'></text-input>
      <text-input label='Length - in minutes' type='number' ng-model='story.length'></text-input>
      <text-input label='Search Tags - comma seperated' ng-model='story.tags'></text-input>
      <text-area label='Short Description - 160 characters' ng-model='story.shortDesc' resize='none' max-length='160'></text-area>
      <text-area label='Long Description' ng-model='story.longDesc'></text-area>
      <divider title='Story Text' align='left' class='mar0b'></divider>
      <div ng-repeat="input in story.inputs" class='input-group half'>
        <text-input label='Keyword' ng-model='input.keyword'></text-input>
        <text-input label='Description' ng-model='input.title'></text-input>
      </div>
      <div class="btn-group">
        <button type="button" ng-click='add()' class="button dropdown-toggle mar5b" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          + Interactive Input
        </button>
        <!-- <ul class="dropdown-menu">
          <li><a ng-click='add()'>Text</a></li>
          <li><a href="#">Male / Female</a></li>
        </ul> -->
      </div>
      <small class='block txt-gray formGroup mar10t'> Interactive inputs allow the reader to insert their name,
        favorite character, gender, or other applicable item into a story.  The "keyword"
        is a single word (no special characters) used in the story text with curly
        brackets around it as such {keyword}.  The "description" will appear inside the input as a
        placeholder and helper for a user.
      </small>
      <textarea class='h300' ui-tinymce="tinymceOptions" ng-model="story.html"></textarea>
      <button ng-click="submitStory(story)" class="button"> submit </button>
      <div class='form-error'>{{globalErrorMessage}}</div>
    </form>
  </div>
</div>
