
<div class="landingPage">
  <section class="hero">
    <h1 class="title">Character Building Stories</h1>
    <div id="vader" class="actor__content"></div>
    <div id="luke" class="actor__content"></div>
    <div class="subTitle">
      <p class="mar10b">Interactive stories that strengthen the bond between parent and child all the while preparing them how to:</p>
      <strong id="values" class="txt-darkGray block mar20b"></strong>
    </div>
    <div ng-if="!isLoggedIn">
      <p class='mar20b'> Get a short story sent every-other night right to your email.  Easy Peasy :) </p>
      <text-input
      label="Email"
      button-text='Send'
      button-click="subscribeButtonClick"
      class="max400 mar0a"
      error="emailError"
      ></text-input>
    </div>
    <div ng-if="emailSuccess" class='successMessage'>
        <div class='checkmark circle mar10b'></div>
        <p class="mar20b">Nice!  Now that's what i'm talking about! <br>
          <!-- Now create a password to save your preferences and complete the signup process</p>
          <text-input
          label="Password"
          button-text='Create Account'
          button-click="passwordSend"
          class="max400 mar0a"
          error="passwordError"
          ></text-input> -->
    </div>
    <img ng-repeat="picture in pictureArray" ng-class="picture" class="teaser-picture" ng-src="images/landing/{{picture}}.jpg"></img>
    </p>
  </section>
  <section class="bgBlue txt-white">
    <div class="innerContent">
      <h1 class="title">Visualization</h1>
      <p class="txt-white subTitle mar40b">
       By <strong>customizing a story</strong> rather than reading a typical pre-written bedtime story
       you take part in the <strong>powerful principal of visualization </strong>with your child.
       Studies have shown this effects our emotions, brain power, and overall health in a <strong>powerful</strong> way.
       But don't take our work for it.  Here are some compelling views on the power of visualization:
      </p>
    </div>
      <div class="four-squares">
        <div class="square">
            <img src="/images/landing/brain.jpg" alt="Visualization Smart" class='img' />
            <p class='text'>
              Visualization forms nuero pathways similiar to when performing the behavior imagined.
            </p>
            <a class="link" target="_blank" href="http://expertenough.com/1898/visualization-works">Read More<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
        <div class="square">
            <img src="/images/landing/high-jump.jpg" alt="Visualization Olypians" class='img' />
            <p class='text'>Technique used by Olympians and these other successfull people.</p>
            <a class="link" target="_blank" href="http://www.huffingtonpost.com/2014/02/11/mind-hacks-from-olympic-a_n_4747755.html">Read More<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
        <div class="square">
            <img src="/images/landing/bed.jpg" alt="Visualization Bed" class='img' />
            <p class='text'>Most effective before bedtime</p>
            <a class="link" target="_blank" href="https://www.entrepreneur.com/article/242373">Read More<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
        <div class="square">
            <img src="/images/landing/group.jpg" alt="Visualization Success" class='img' />
            <p class='text'>Visualization used by Oprah, Olympic Athletes, Will Smith, Jim Carey, and many more!</p>
            <a class="link" target="_blank" href="http://www.mindbodygreen.com/0-20630/8-successful-people-who-use-the-power-of-visualization.html">Read More<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
      </div>
  </section>
  <section>
    <h1 class="title">Try It Out</h1>
    <p class="subTitle">
        Fill in the sample inputs below see how it affects the story!
    </p>
    <div class="exampleStory">
      <story storyid="exampleStoryId"></story>
    </div>
  </section>
</div>
