.landingPage{
  .hero{
    padding: 40px 10px;
    text-align: center;
    .title{
      font-size: 34px;
      font-weight: 500;
    }
    .subTitle{
      max-width: 500px;
    }
  }
  section{
    padding: 40px 20px;
    text-align: center;
  }
  .title{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .subTitle{
    font-size: 14px;
    margin: 0 auto 20px;
  }
  .parentChildReading{
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .item{ margin-bottom: 10px;}
  .innerContent{ max-width: 500px; margin: 0 auto;}

  @-webkit-keyframes blink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes blink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #values::after {
    content: '|';
    -webkit-animation: blink 500ms infinite;
            animation: blink 500ms infinite;
  }
}
