.landingPage{
  $girl-depth: -155px;
  .hero{
    padding: 60px 10px 80px;
    text-align: center;
    max-width: 770px;
    margin: 0 auto;

    .subTitle{
      max-width: 400px;
      margin-bottom: 30px;
    }
  }

  .teaser-picture{
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    z-index: -1;
    &.backpack{display: none; }
    &.bird{display: none; }
    &.cactus{
      display: block;
      max-height: 100px;
      right: 10px;
      top: -67px;
      opacity: .5;
      transform: rotate(192deg);
    }
    &.cloud-1{display: none;}
    &.crown{display: none; }
    &.cylinder_hat{display: none; }
    &.fish-1{
      display: block;
      top: 12px;
      left: 40px;
      max-width: 50px;
      opacity: 0.3;
    }
    &.fish-2{display: none; }
    &.girl-1{display: none; }
    &.girl-4{
      display: block;
      right: 10px;
      bottom: $girl-depth;
      &.move{
        animation: MoveUpDown 3s cubic-bezier(.53,.02,.64,.99);
      }
    }
  }

  .four-squares{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    max-width: $large-width;
    margin: 0 auto;
    .square{
      max-width: 450px;
      margin: 0 auto;
      padding: 30px;

    }
    .img{
      border-radius: 50%;
      box-shadow: 5px 5px 10px -5px black;
      margin-bottom: 20px;
    }
    .text{ color: white; margin-bottom: 10px; font-size: 18px; }
    .link{
      text-decoration: underline;
      opacity: .7;
      font-size: 12px;
      .fa{
        margin-left: 5px;
        position: relative;
        top: 2px;
      }
    }
    @media (min-width: $small-width){
      align-items: initial;
      .square{
        width: 40%;
        min-height: 450px;
      }
    }

    @media (min-width: $large-width){
      .square{ width: 25%; min-height: auto; }
      .img{ width: 150px;}
    }
  }

  section{
    padding: 40px 20px;
    text-align: center;
    position: relative;
  }

  .title{
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: 500;
  }

  .subTitle{
    font-size: 14px;
    margin: 0 auto 20px;
  }

  .parentChildReading{
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }

  .exampleStory .content{
    border: 1px solid $lightGray;
    border-radius: 5px;
  }

  .item{ margin-bottom: 10px;}
  .innerContent{ max-width: 500px; margin: 0 auto;}

  @keyframes blink { from { opacity: 0; } to { opacity: 1; } }
  #values::after { content: '|'; -webkit-animation: blink 500ms infinite; animation: blink 500ms infinite; }

  @keyframes MoveUpDown {
    0% { bottom: $girl-depth  }
    50% { bottom: $girl-depth + 30px;; }
    100% { bottom: $girl-depth; }
  }
}
