<div class="subscription clearfix">
  <div class="left">
    <p class="subscription-title">Product Updates</p>
    <p>Sometimes we like to launch cool updates. This email keeps you in the know on things our developers high five each other about.</p>
  </div>
  <div class="right">
    <div id="optionProductUpdates" class="btn-radio fr" data-campaign="@Jane.Communications.CommunicationType.ProductUpdates">
      <span class="option on">YES</span>
      <span class="option off">NO</span>
      <span class="switch">
        <div class="state success">
          <i class="fa fa-check txt-mint"></i>
        </div>
        <div class="state loading">
          <spinner></spinner>
        </div>
      </span>
    </div>
  </div>
</div>
