.feedbackButton{
  position: fixed;
  bottom: 0;
  right: 15px;
  background-color: $lightBlue;
  color: white;
  padding: 3px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 400;
}
