<div class="feedPage">
  <div class="content feedWrapper">
    <!-- <div class="searchBar"> <text-input type="search" ng-model='search.general'></text-input> </div> -->
    <h4 class="resultsHeader" ng-if="search.general">
      <span ng-if="noResults">No r</span><span ng-if="!noResults">R</span>esults for "<strong>{{search.general}}</strong>"</h4>
    <div
      story-card
      class="storyCard"
      ng-repeat="story in myStories"
      story="story"
      ng-click="setAsSelectedStory(story)">
    </div>
  </div>
</div>
