.coinBadge {
  $coinWidth: 12px;
  font-size: 11px;
  border: 1px solid $gold;
  color: $darkGold;
  line-height: initial;
  padding: 3px 5px;
  border-radius: 5px;
  font-weight: 400;
  position: relative;
  display: flex;
  padding-left: $coinWidth + 7px;
  &:before{
    content: '';
    height: $coinWidth;
    width: $coinWidth;
    left: 5px; // same as padding above
    margin-right: 2px;
    position: absolute;
    background: url(/images/coin.svg);
  }
}
