/*------------------------------------*\

#TextArea
Most textarea depends on "mimic-input" class
for continuity, but needs some additional
styles here

\*------------------------------------*/

.inputWrapper.textarea{
  textarea{
    margin: $input-label-content-distance 0 0 0;
    padding-bottom: $input-label-content-distance;
    min-height: 100px;
  }
}
